/*
 *
 * Common
 *
 *
*/

* {
  box-sizing: border-box;
}

html, body {
  font: 14px Roboto, Raleway;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 *
 * Header
 *
 *
*/

header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
}

.hamburger-icon {
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
  color: #a1a3a2;
}

.hamburger-icon:hover {
  cursor: pointer;
}

h1 {
  display: inline-block;
  margin: 0;
  padding: 10px 0 0 10px;
  font-size: 1.5em;
  color: #a1a3a2;
}

/*
 *
 * Sidebar
 *
 *
*/

#sidebar {
  padding-top: 50px; /* header size */
  height: 100%;
  overflow: auto; /* allows scrolling if list goes past page height */
  background-color: #515151;
}

.sidebar-showing {
  width: 180px;
}

.sidebar-not-showing {
  width: 0;
}

/*
 *
 * Search Text Field
 *
 *
*/

.search-form {
  display: flex;
  width: 100%;
}

.search-field {
  padding: 0.5em;
  width: 85%;
}

.search-button {
  width: 15%;
}

/*
 *
 * Location List
 *
 *
*/

.location-list {
  margin-right: 8px;
  padding: 0;
  list-style: none;
}

.location-link {
  margin-bottom: 0.5em;
  padding: 5px 0 5px 20px;
  border-radius: 0.5em;
}

  .location-link:hover {
    cursor: pointer;
  }

.item-visible {
  display: block;
}

.item-not-visible {
  display: none;
}

.selected-location {
  background-color: lightgray;
  color: black;
}

.not-selected-location {
  background-color: inherit;
  color: lightgray;
}

/*
 *
 * Map
 *
 *
*/

#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
}

.map-small-display {
  left: 180px;
}

.map-big-display {
  left: 0;
}

/*
 *
 * Styling for responsiveness
 *
 *
*/
@media screen and (min-width: 500px) {
  .sidebar-showing {
    width: 200px;
  }

  .map-small-display {
    left: 200px;
  }
}

@media screen and (min-width: 600px) {
  .sidebar-showing {
    width: 240px;
  }

  .map-small-display {
    left: 240px;
  }
}

@media screen and (min-width: 700px) {
  .sidebar-showing {
    width: 270px;
  }

  .map-small-display {
    left: 270px;
  }
}

@media screen and (min-width: 800px) {
  .sidebar-showing {
    width: 300px;
  }

  .map-small-display {
    left: 300px;
  }
}

@media screen and (min-width: 900px) {
  .sidebar-showing {
    width: 325px;
  }

  .map-small-display {
    left: 325px;
  }
}