/*
 *
 * Common
 *
 *
*/

* {
  box-sizing: border-box;
}

html, body {
  font: 14px Roboto, Raleway;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 *
 * Header
 *
 *
*/

header {
  background-color: #333;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

h1 {
  font-size: 1.5em;
  color: #a1a3a2;
  padding: 10px 0  0 10px;
  margin: 0;
}

/*
 *
 * Sidebar
 *
 *
*/

#sidebar {
  height: 100%;
  width: 325px;
  padding-top: 50px; /* header size */
  background-color: #515151;
}

.selected-location {
  background-color: lightgray;
  color: black;
}

.not-selected-location {
  background-color: inherit;
  color: lightgray;
}

.location-list {
  list-style: none;
  padding: 0;
  margin-right: 8px;
}

.location-link {
  margin-bottom: 0.5em;
  padding: 5px 0 5px 20px;
  border-radius: 0.5em;
}

.location-link:hover {
  cursor: pointer;
}

/*
 *
 * Map
 *
 *
*/

#map {
  position: absolute;
  left: 325px;
  top: 50px;
  bottom: 0;
  right: 0;
}